* {
    color: black;
    font-family:'Poppins', sans-serif;
  }
  img {
    width: 100%;
  }
  td > label {
    font-size: 19px;
  }
  .login {
      height: 630px;
      width: 100%;
      background: white;
      position: relative;
      margin: auto;
  }
  .login_box {
      width: 1050px;
      height: 600px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background: #fff;
      border-radius: 10px;
      box-shadow: 1px 4px 22px -8px black;
      display: flex;
      overflow: hidden;
      background: linear-gradient(212.38deg, blue 0%, cyan 100%);
  }
  .login_box .left{
    width: 41%;
    height: 100%;
    padding: 25px 25px;
    
  }
  .login_box .right{
    width: 59%;
    height: 100%  
  }
  .left .top_link a {
      color: black;
      font-weight: 400;
      display: flex;
      align-items: center;
  }
  .left .top_link{
    height: 20px
  }
  .left .contact{
    display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
      height: 100%;
      width: 73%;
      margin: auto;
  }
  label {
    margin: 10px auto;
    text-align: center;
  }
  .left h3{
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
  }
  .left input {
      border: none;
      width: 80%;
      margin: 15px 0px;
      border-bottom: 1px solid black;
      padding: 7px 9px;
      width: 100%;
      overflow: hidden;
      background: transparent;
      font-weight: 600;
      font-size: 14px;
      border-radius: 5px;
  }
  .submit {
      font-size: 18px;
      border: none;
      padding: 15px 70px;
      border-radius: 8px;
      display: block;
      margin: auto;
      margin-top: 120px;
      background: white;
      font-weight: bold;
      -webkit-box-shadow: 0px 9px 15px -11px black;
      -moz-box-shadow: 0px 9px 15px -11px black;
      box-shadow: 0px 9px 15px -11px black;
  }
  .right {
    background-image: url(./assets/áo\ 1.png);
    background-size: contain;
    color: #fff;
    position: relative;
  }

  .right .right-text{
    padding-top: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    position: relative;
    transform: translate(0%, 45%);
    border-radius: 8px;
  }
  .right-text h2{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: white;
  }
  .right-text h5{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    color: white;
    opacity: 100%;
  }
  .right .right-inductor{
    position: absolute;
    width: 70px;
    height: 7px;
    background: #fff0;
    left: 50%;
    bottom: 70px;
    transform: translate(-50%, 0%);
  }
  .top_link img {
    width: 40px;
    padding-right: 7px;
    margin-top: -3px;
  }
  .top_link a {
    text-decoration: none;
    color: black;
    font-size: 18px;
  }
  form > h5 {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
  }