* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}
html {
    color: black;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}
.main {
    opacity: 0.9;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.form {
    background: linear-gradient(212.38deg, blue 0%, cyan 100%);
    width: 500px;
    min-height: 100px;
    padding: 32px 24px;
    text-align: center;
    border-radius: 10px;
    margin: 24px;
    align-self: center;
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
}
.form .heading {
    font-size: 2rem;
}
.form .desc {
    text-align: center;
    color: black;
    font-size: 1.6rem;
    font-weight: lighter;
    line-height: 2.4rem;
    margin-top: 16px;
    font-weight: 300;
}

.form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
}

.form-label,
.form-message {
    text-align: left;
}

.form-label {
    font-weight: 700;
    padding-bottom: 6px;
    line-height: 1.8rem;
    font-size: 1.4rem;
}

.form-control {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 1.4rem;
}

.form-control:hover {
    border-color: #1dbfaf;
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

.form-message {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
}

.form-submit {
    outline: none;
    background-color: cyan;
    margin: auto;
    margin-top: 20px;
    padding: 12px 16px;
    font-weight: 600;
    color: black;
    border: none;
    width: 40%;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    -webkit-box-shadow: 0px 9px 15px -11px black;
    -moz-box-shadow: 0px 9px 15px -11px black;
    box-shadow: 0px 9px 15px -11px black;
}

.form-submit:hover {
    color: white;
    background-color: black;
}

.spacer {
    margin-top: 36px;
}
